<p>Page does not exist! Check out the <a href='/example'>example page</a>.</p>
<p>Also you can try this page: <a href="test/2/2">test/2/2</a></p>
<p>Or you could try adding back in lines 24-27 of the `ApplicationController` file to see the home page (I removed them to test the 'not found' scenario)</p>